.container {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
    height: 10px;
}

.primary {
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    border-bottom: darkgreen;
}
  
.primary:hover {
    color: #000000;
}

img.container {
    height: 20px;
}

a.text{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 3px;
}

@media screen and (max-width: 500px) {

    .primary {
        font-size: 15px;
    }
  }






