.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "content1";
  background-image: url("bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgb(7, 59, 7);
}

.container1{
  border: 2px solid black;
  grid-area: content1;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: -10px;
}


.form{
    background-color: rgba(255, 253, 253, 0.881);
    width: 30%;
    height: 65%;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 7px 7px;
  }

  .form >h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 2%;
    font-weight: 800;
    letter-spacing: 3px;
  }

  .image1 {
    height: 30%;
    /* width: 30%; */
  }
  
  .image1 > img {
    width: 30%;
    height: 80%;
    margin-left: 35%;
    margin-top: 5%;
  }  
  .txt_field >label{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .txt_field2 >label{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 5%;
    }

    .txt_field3 >label{
      position: relative;
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      margin-top: 2%;
      margin-left: 5%;
    }

   .txt_field >input{
    width: 60%;
    height: 35px;
    font-size: 20px;
    border: 1px solid black;
    background: none;
    outline: 2px;
    font-family: "Courier New";
    margin-bottom: 20px;
    margin-left: 15px;
   }

   .txt_field2 >input{
      width: 60%;
      height: 35px;
      font-size: 20px;
      border: 1px solid black;
      background: none;
      outline: 2px;
      font-family: "Courier New";
      margin-bottom: 20px;
      margin-left:55px;
     }

     
     .txt_field3 >input{
      width: 60%;
      height: 35px;
      font-size: 20px;
      border: 1px solid black;
      background: none;
      outline: 2px;
      font-family: "Courier New";
      margin-bottom: 20px;
      padding-left: 15px;
      margin-left:21px;
     }

     .StudentformButtons {
        text-align: center;
        gap: 30px;
     }

    .submitButton {
      height: 35px;
      border-radius: 4px;
      background-color: rgb(101, 98, 98);
      border: 2px;
      border-style: solid;
      border-color: rgb(101, 98, 98);
      color: white;
      text-align: center;
      font-size: 15px;
      width: 90px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 10px;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      margin-left: 6px;
    }

    .submitButton:hover{
      background-color: black;
    }
    
    .submitButton:active{
      background-color: rgb(211, 210, 210);
    }

    .box {
      text-align: left;
      margin-left: 5.5%;
    }


     @media only screen and (max-width: 1400px) {
      .container {
        background-size: 100% 100%;   
      }
    }

    @media only screen and (max-width: 1400px) and (min-width: 800px){
      .form {
        width: 55vw;   
        height: 75vw;
        margin-top: 50px;
      }
    }

    @media only screen and (max-width: 1400px) and (min-width: 800px){
      .form {
        width: 55vw;   
        height: 75vw;
        margin-top: 50px;
      }
    }